{% extends "base.html" %}

{% block body %}
<!-- signup form -->
<section class="text-gray-600 body-font">
  <div class="container px-5 mx-auto flex flex-wrap items-center">
    <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
      <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Sign Up</h2>
      <form action="/handleSignup" method="post">
        <div class="relative mb-4">
          <label for="full-name" class="leading-7 text-sm text-gray-600">Username</label>
          <input type="text" id="full-name" name="username"
            required class="cursor-text w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <label for="password" class="leading-7 text-sm text-gray-600">Password:</label>
          <input type="password" id="password" name="password"
            required class="cursor-text w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <label for="cpassword" class="leading-7 text-sm text-gray-600">Confirm Password:</label>
          <input type="password" id="cpassword" name="cpassword"
            required class="cursor-text w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        {% csrf_token %}
        <input class="cursor-pointer text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg"
          type="submit" value="Sign up">
        <p class="text-xs text-gray-500 mt-3">
          Already have an account <a href="/login" class="cursor-pointer hover:underline decoration-1 text-blue-500">Login</a>.
        </p>
      </form>
    </div>
  </div>
</section>

{% endblock body %}